.about-row {
	margin-top: 20px;
}

.skills-box {
	text-align: center;
	margin: 25px 0;
	text-transform: none;
}

.skills-box-icon {
	font-size: 42px;
	color: $primary-color;
}

.skills-box-title {
	text-align: center;
	margin: 5px 0 18px;

}
