/*
* General Styles
*/

body {
	background: $white;
	overflow-x: hidden;
 	color: $dark-grey;
}

img {
	max-width: 100%;
	height: auto;
}

a,
.btn {
	transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.btn,
.well,
.panel,
.progress,
.form-control, .form-control:hover, .form-control:focus {
box-shadow: none;
}

/*
* Animations
*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/*
* Margins/Padding
*/

.m-r {
	margin-right: 10px;
}

.m-l-m-r {
	margin-left: 15px;
	margin-right: 15px;
}

.p-l-p-r {
	padding-left: 15px;
	padding-right: 15px;
}

.m-b-0{margin-bottom:0 !important}
.m-b-10{margin-bottom:10px !important}
.m-b-20{margin-bottom:20px !important}
.m-b-30{margin-bottom:30px !important}
.m-b-40{margin-bottom:40px !important}
.m-b-50{margin-bottom:50px !important}
.m-b-60{margin-bottom:60px !important}
.m-b-70{margin-bottom:70px !important}
.m-b-80{margin-bottom:80px !important}
.m-b-90{margin-bottom:90px !important}

.m-t-0{margin-top:0 !important}
.m-t-10{margin-top:10px !important}
.m-t-20{margin-top:20px !important}
.m-t-30{margin-top:30px !important}
.m-t-40{margin-top:40px !important}
.m-t-50{margin-top:50px !important}
.m-t-60{margin-top:60px !important}
.m-t-70{margin-top:70px !important}
.m-t-80{margin-top:80px !important}
.m-t-90{margin-top:90px !important}
.m-t-100{margin-top:100px !important}
.m-t-110{margin-top:110px !important}
.m-t-120{margin-top:120px !important}
.m-t-130{margin-top:130px !important}
.m-t-140{margin-top:140px !important}

.p-t-0{padding-top:0 !important}.p-t-10{padding-top:10px !important}.p-t-20{padding-top:20px !important}.p-t-30{padding-top:30px !important}.p-t-40{padding-top:40px !important}.p-t-50{padding-top:50px !important}.p-t-60{padding-top:60px !important}.p-t-70{padding-top:70px !important}.p-t-80{padding-top:80px !important}.p-t-90{padding-top:90px !important}.p-b-0{padding-bottom:0 !important}.p-b-10{padding-bottom:10px !important}.p-b-20{padding-bottom:20px !important}.p-b-30{padding-bottom:30px !important}.p-b-40{padding-bottom:40px !important}.p-b-50{padding-bottom:50px !important}.p-b-60{padding-bottom:60px !important}.p-b-70{padding-bottom:70px !important}.p-b-80{padding-bottom:80px !important}.p-b-90{padding-bottom:90px !important}@media only screen and (max-width:991px){.m-b-md-0{margin-bottom:0 !important}.m-b-md-10{margin-bottom:10px !important}.m-b-md-20{margin-bottom:20px !important}.m-b-md-30{margin-bottom:30px !important}.m-b-md-40{margin-bottom:40px !important}.m-b-md-50{margin-bottom:50px !important}.m-b-md-60{margin-bottom:60px !important}.m-b-md-70{margin-bottom:70px !important}.m-b-md-80{margin-bottom:80px !important}.m-b-md-90{margin-bottom:90px !important}.m-t-md-0{margin-top:0 !important}.m-t-md-10{margin-top:10px !important}.m-t-md-20{margin-top:20px !important}.m-t-md-30{margin-top:30px !important}.m-t-md-40{margin-top:40px !important}.m-t-md-50{margin-top:50px !important}.m-t-md-60{margin-top:60px !important}.m-t-md-70{margin-top:70px !important}.m-t-md-80{margin-top:80px !important}.m-t-md-90{margin-top:90px !important}.p-t-md-0{padding-top:0 !important}.p-t-md-10{padding-top:10px !important}.p-t-md-20{padding-top:20px !important}.p-t-md-30{padding-top:30px !important}.p-t-md-40{padding-top:40px !important}.p-t-md-50{padding-top:50px !important}.p-t-md-60{padding-top:60px !important}.p-t-md-70{padding-top:70px !important}.p-t-md-80{padding-top:80px !important}.p-t-md-90{padding-top:90px !important}.p-b-md-0{padding-bottom:0 !important}.p-b-md-10{padding-bottom:10px !important}.p-b-md-20{padding-bottom:20px !important}.p-b-md-30{padding-bottom:30px !important}.p-b-md-40{padding-bottom:40px !important}.p-b-md-50{padding-bottom:50px !important}.p-b-md-60{padding-bottom:60px !important}.p-b-md-70{padding-bottom:70px !important}.p-b-md-80{padding-bottom:80px !important}.p-b-md-90{padding-bottom:90px !important}}@media (max-width: 767px){.m-b-sm-0{margin-bottom:0 !important}.m-b-sm-10{margin-bottom:10px !important}.m-b-sm-20{margin-bottom:20px !important}.m-b-sm-30{margin-bottom:30px !important}.m-b-sm-40{margin-bottom:40px !important}.m-b-sm-50{margin-bottom:50px !important}.m-b-sm-60{margin-bottom:60px !important}.m-b-sm-70{margin-bottom:70px !important}.m-b-sm-80{margin-bottom:80px !important}.m-b-sm-90{margin-bottom:90px !important}.m-t-sm-0{margin-top:0 !important}.m-t-sm-10{margin-top:10px !important}.m-t-sm-20{margin-top:20px !important}.m-t-sm-30{margin-top:30px !important}.m-t-sm-40{margin-top:40px !important}.m-t-sm-50{margin-top:50px !important}.m-t-sm-60{margin-top:60px !important}.m-t-sm-70{margin-top:70px !important}.m-t-sm-80{margin-top:80px !important}.m-t-sm-90{margin-top:90px !important}.p-t-sm-0{padding-top:0 !important}.p-t-sm-10{padding-top:10px !important}.p-t-sm-20{padding-top:20px !important}.p-t-sm-30{padding-top:30px !important}.p-t-sm-40{padding-top:40px !important}.p-t-sm-50{padding-top:50px !important}.p-t-sm-60{padding-top:60px !important}.p-t-sm-70{padding-top:70px !important}.p-t-sm-80{padding-top:80px !important}.p-t-sm-90{padding-top:90px !important}.p-b-sm-0{padding-bottom:0 !important}.p-b-sm-10{padding-bottom:10px !important}.p-b-sm-20{padding-bottom:20px !important}.p-b-sm-30{padding-bottom:30px !important}.p-b-sm-40{padding-bottom:40px !important}.p-b-sm-50{padding-bottom:50px !important}.p-b-sm-60{padding-bottom:60px !important}.p-b-sm-70{padding-bottom:70px !important}.p-b-sm-80{padding-bottom:80px !important}.p-b-sm-90{padding-bottom:90px !important}}

/*
* Back to Top
*/

.back-top {
	position: fixed;
	display: none;
	bottom: 14px;
	right: 14px;
	z-index: 999;
}

.back-top a {

	display: block;
	height: 47px;
	width: 50px;
	text-align: center;
	line-height: 38px;
	font-size: 30px;
	color: $primary-color;
	opacity: 0.9;
	border-radius: 2px;
}

.back-top a:hover,
.back-top a:active {
	opacity: 1;
	color: $primary-color;
}
.back-top img {
	width: 40px;
	height: 37px;
}

/*
* Loading
*/

.page-loader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: $white;
	z-index: 9998;
}

.loader {
	height: 40px;
	width: 40px;
	left: 50%;
	top: 50%;
	background: $primary-color;
	position: absolute;
	display: inline-block;
	margin: -20px 0 0 -20px;
	text-indent: -9999em;
	border-radius: 100%;
	animation-fill-mode: both;
	animation: bouncy-scale 2s 0s ease-in-out infinite;
}

@-webkit-keyframes bouncy-scale {
	0% { transform: scale(0); }
	100% { opacity: 0; transform: scale(1);}
	}
@keyframes bouncy-scale {
	0% { transform: scale(0); }
	100% { opacity: 0; transform: scale(2); }
}

/*
* Contact Form
*/
.text-danger {
	color: #E34549;

}
.help-block {
	font-family: $base-font-family;
}
input.form-control,
textarea.form-control {
	font-family: $base-font-family;
	font-size: $f-s-20;
}
/*
* Pager
*/
.pager > li {
	display: inline-block;
}

.pager > li > a, {
	font-size: $f-s-19;
	color: $white;
	background: lighten($text-color, 30);
	border: 0;
	height: 32px;
	text-align: center;
	width: 60px;
	margin: 0;
	padding-top: 7.5px;
}

.pager > .active > a,
.pager > .active > a:hover,
.pager > .active > a:focus,{
	background: $primary-color;
}

.pager > li > a:hover,
.pager > li > a:focus,{
	background: $primary-color;
	color: $white;
}

/*
* Buttons
*/
.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	padding: 8px 37px;
	border-radius: 0;
	color: $white;
	background-color: $primary-color;
}

.btn.focus, .btn:focus,
.btn.active.focus, .btn.active:focus,
.btn:active.focus, .btn:active:focus {
	background: none;
	outline: 0;
}
.btn.btn-round {
 border-radius: 2px;
}

.btn.btn-circle {
	border-radius: 30px;
}
.btn.btn-w {
	background: $primary-color;
	color: $white;
}

.btn.btn-w:hover, .btn.btn-w:focus {
	background: $dark-grey;
	color: $white;
}

.btn.btn-lg {
	font-size: 12px;
	padding: 12px 45px;
}

.btn.btn-sm {
	letter-spacing: 1px;
	font-size: 10px;
	padding: 6px 25px;
}

/*
* Filtering
*/
.filters {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 50px;
}

.filters > li {
	display: inline-block;
	margin: 5px 20px;
}

.filters > li sup {
	top: -.7em;
	font-size: 80%;
	color: $light-grey;
}

.filters > li > a {
	font-size: 1.1rem;
	text-transform: uppercase;
	color: $dark-grey
}

.filters > li > a:hover, .filters > li > a.current,
.filters > li > a:hover sup, .filters > li > a.current sup {
	color: $primary-color;
}
