.bg-light {
	background-color: lighten($dark-grey, 5);
  color: $white;
}
.divider {
	margin: 0;
}
.footer-links {
	color: $white;
}
.copyright--center {
  font-family: $base-font-family;
  font-size: $f-s-16;
  text-transform: uppercase;
	padding: 0 5px;
  text-align: center;
}

.footer-box {
  text-align: center;
  margin: 40px 0;
  color: $white;
	text-transform: uppercase;
}

.footer-box__icon a {
  font-size: 42px;
	color: $white;
	margin-bottom: 15px;

}
.footer-box__icon a:hover {
	color: $primary-color;
}
.footer-box__title {
  letter-spacing: 1px;
  font-weight: $f-w-5;
  font-family: $font-family-heading;
  font-size: $f-s-23;
  margin: 5px 0 18px;
  color: $white;
}

.footer-box__text {
	letter-spacing: 0.05em;
	font-size: $f-s-17;

}
