.contact-content-box {
	position: relative;
	padding-left: 55px;
	margin: 25px 0;
}

.contact-content-box-icon {
	text-align: center;
	line-height: 38px;
	font-size: 28px;
	color: $dark-grey;
	position: absolute;
	height: 38px;
	width: 38px;
	left: 0;
	top: 0;
}

.contact-content-box-title {
	margin: 0 0 18px;
}
