
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	text-shadow: none;
}
.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%);
	color: $dark-grey;

}
.carousel-control.right {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%);
	color: $dark-grey;
}
.carousel-indicators .active {
	background-color: $dark-grey;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid $dark-grey;
    border-radius: 10px;
    cursor: pointer;
    background-color: $dark-grey;
    background-color: transparent;
	}
.carousel {
		margin: 0 auto;
	}
.carousel-inner { }
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
		cursor: pointer;
}
.icon {
	font-size: 20px;
	padding: 20px;
	text-align: left;
	color: $primary-color;
}

.single-divider {
	 margin-bottom: 60px;
	 border-top: 1px solid lighten($dark-grey, 60);
}
.single-page {
	margin-top: 80px;
	padding-bottom: 15px;
	font-size: 3.7rem;
}

.single-page--sub {
	font-size: 1.1rem;
	padding-bottom: 20px;
}

.font-project-links {
	font-family: $base-font-family;
	font-size: $f-s-23;
	font-weight: $f-w-3;
	text-align: left;
	text-transform: none;
	margin-bottom:15px;
}

.font-project-text {
	font-family: $base-font-family;
	font-size: $f-s-23;
	text-align: left;
	text-transform: none;
	margin-bottom: 30px;
}

.font-project-title {
	font-family: $font-family-heading;
	font-size: $f-s-32;
	font-weight: $f-w-4-base;
	text-align: left;
	margin-bottom: 20px;
}
