span.i {
	font-size: 22px;
	width: 50px;
	height: 20px;
	padding-right: 5px;
	text-align: left;
}
span.i:hover {
	color: $primary-color;
}
.image-caption {
	position: relative;
	margin: 0 0 20px;
}

.image-caption .caption-text {
	position: absolute;
	display: table;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	padding: 20px;
	font-size: $f-s-12;
}

.project-details {
	width: auto;
	height: 270px;
	list-style: none;
	padding: 10px;
	margin: 0;
}

.project-details li {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $text-color;
}
.project-details li:last-child {
	border:none;
	padding-top: 5px;
}

.single-page {
	margin-top: 100px;
	font-size: $f-s-35;
}
