<section class="module">
	<div class="container">
		<div class="row about-row">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="font-heading--bio">Hello, my name is Jessica</h2>
				</div>
			</div>
  <div class="col-sm-6">
		    <p class="font-project-text">I'm a viciously ambitious (and stubborn) web developer and designer.
					My passion for programming came about when I felt like a lot of websites I made use of just didn't quite help the user, which should be the goal, right? I then set forth to learn all I could about web design, development, user experience design and user interface design. This is when I discovered the Academy of Art University and how I could earn a degree completely online.
					After persueing my Bachelor of Fine Arts in Web Design and New Media at AAU, I not only learned much about web design and UI/UX, but along with all this came a lot of winding roads that led down the paths of animation, motion, video, print design, typography, and photography.</p>
        <p class="font-project-text">My goal is to start my own design/dev firm in my small town where there is a big opportunity for this line of work since it is in high demand with no supply. If that doesn't pan out, a remote, cold, very woods-y location will do. Freelancing is also one of my options, and I plans to learn as much as I can to keep up to date on all web technologies in order to provide a wide range of skills.</p>
    </div>
    <div class="col-sm-6"><img src="images/personal/me.jpg" width="330px" height="330px"></div>
	</div>
</section>

<hr class="divider">

<section class="module">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="font-heading">My Skills</h2>
			</div>
		</div>

		<div class="row multi-columns-row">

			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-computer_imac_slim"></span>
					</div>
					<h5 class="skills-box-title font-alt">Development</h5>
					<div class="skills-box-text">
						Programming languages I am profitiant in include HTML5 and CSS3, Javascript, and PHP. Frameworks I dabble in include Angular2, NodeJS, Express, MongoDB, React and React Native, Bootstrap, SASS, Foundations, and more are being added continuously.
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-toolbox"></span>
					</div>
					<h5 class="skills-box-title font-alt">Tools</h5>
					<div class="skills-box-text">
						My automation tool of choice is gulp.
						Automating repetitive tasks is something I have taken a deep interest in and constantly look for better development dependencies to help improve my workflow.
						My code editor of choice is Atom.
						Firefox or Chrome are my go-to browsers.
						Marvel for Prototypes.

					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-arrows_squares"></span>
					</div>
					<h5 class="skills-box-title font-alt">Software</h5>
					<div class="skills-box-text">
						Most used: Sketch, Illustrator, InDesign, Photoshop. I also use Adobe Premiere Pro, After Effects, and Evernote. Dropbox and Github are two of my most important and these are made use of in almost an abusive way.
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-tools_creative"></span>
					</div>
					<h5 class="skills-box-title font-alt">Design</h5>
					<div class="skills-box-text">
						Digital Imaging, photomanipulation, print, and typography are among a few skills I have in the Design department. My favorite would have to be print design. More specific, book and magazine layout design.
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-basic_webpage_img_txt"></span>
					</div>
					<h5 class="skills-box-title font-alt">UI/UX Design</h5>
					<div class="skills-box-text">
						I have recently taken a strong liking to user interface and experience design. Creating personas, testing, more testing, live prototyping, haviving people give feedback, talk through their process, all of it is such an insightful process and I believe each and every website or mobile/desktop app should be extensively tested and prototyped before deployment to ensure the best possible results for end-users.
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-4">
				<div class="skills-box">
					<div class="skills-box-icon">
						<span class="icon-lifesaver"></span>
					</div>
					<h5 class="skills-box-title font-alt">Photography</h5>
					<div class="skills-box-text">
						I am by no means a professional photographer, at all, but I do enjoy looking at beautiful photos, like everyone does, I'm sure. I love nature and the outdoors, I am quite interested in landscape photography and would love to capture the beauty that is often mislooked in our day-to-day lives.
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
