<section class="module module--pink bg-dark-30">
	 <div class="container ">
		<div class="row">
			<div class="col-sm-12 text-center">
				<img class="banner--logo" src="images/logo/white.svg" height="100px" width="100px">
				<h2 class="banner banner__heading font-heading">Jessica Van Rooyen</h2>
				<h5 class="banner banner__subheading font-alt">Web Design & New Media</h5>
      </div>
		</div>
	</div>
</section>
