<!-- Footer Section -->
<section class="module-small bg-light">
			<div class="container">

				<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="footer-box">
							<div class="footer-box__icon">
								<a href="mailto:jessicav556@gmail.com?Subject=Hello" class="footer-box__icon"><span class="icon-envelope-letter"></span></a>
							</div>
							<h3 class="footer-box__title font-alt">Email Me</h3>
							<div class="footer-box__text">
								<a class="footer-links" href="#">jessicav556@gmail.com</a>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 col-lg-4">
							<div class="footer-box">
								<div class="footer-box__icon">
									<a href="#" class="footer-box__icon"><span class="icon-docs"></span></a>
								</div>
								<h3 class="footer-box__title font-alt">Resume PDF</h3>
								<div class="footer-box__text">
									  <a class="footer-links" href="images/personal/jessicavanrooyen_resume.pdf" target="_blank">PDF Download</a>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">
								<div class="footer-box">
									<div class="footer-box__icon">
										<a href="#" class="footer-box__icon"><span class="icon-cloud-download"></span></a>
									</div>
									<h3 class="footer-box__title font-alt">
										Portfolio PDF</h3>
									<div class="footer-box__text">
										<a class="footer-links" href="images/personal/vanrooyen_portfolio.pdf" target="_blank">PDF Download</a>
									</div>
								</div>
							</div>
				</div>
		</section>

		<hr class="divider">

		<footer class="module-small bg-light p-t-30 p-b-30">
			<div class="container">
				<div class="col-sm-12">
					<p class="copyright--center m-b-0">© 2017 Jessica Van Rooyen. All Rights Reserved.</p>
				</div>
			</div>
    </footer>

		<!-- Scroll to Top -->
		<div class="back-top">
		  <a href="#goUp"><img src="images/icons/up.svg"></a>
		</div>
