<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-heading">Get In Touch</h2>
        </div>
      </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <form id="contact-form" role="form" novalidate="">

              <div class="form-group">
                <label class="sr-only" for="cname">Name</label>
                <input type="text" id="cname" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <label class="sr-only" for="cemail">Email</label>
                <input type="email" id="cemail" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
                <p class="help-block text-danger"></p>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-btn-sm btn btn-w">Send</button>
              </div>

            </form>
            <div id="contact-response" class="ajax-response font-alt"></div>
          </div>

          <div class="col-sm-2"></div>
			</div>
		</section>
