<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Get In Touch</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <form id="contact-form" role="form" novalidate="">

            <div class="form-group">
              <label class="sr-only" for="cname">Name</label>
              <input type="text" id="cname" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <label class="sr-only" for="cemail">Email</label>
              <input type="email" id="cemail" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
              <p class="help-block text-danger"></p>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-block btn-round btn-d">Send</button>
            </div>

          </form>
          <!-- Ajax response -->
						<div id="contact-response" class="ajax-response font-alt"></div>

					</div>

					<div class="col-sm-4">
						<div class="contact-content-box m-t-0 m-t-sm-30">
							<div class="contact-content-box-icon">
								<span class="icon-envelope"></span>
							</div>
							<h5 class="contact-content-box-title font-heading">
								Email Me Directly
							</h5>
							<a href="mailto:jessicav556@gmail.com?Subject=Hello">jessicav556@gmail.com</a>
						</div>
					</div>
          <div class="col-sm-4">

            <div class="contact-content-box m-t-10 m-t-sm-30">
              <div class="contact-content-box-icon">
                <span class="icon-laptop"></span>
              </div>
              <h5 class="contact-content-box-title font-heading">
                Download My Resume
              </h5>
              <a href="images/pdf/jessicavanrooyen_resume.pdf">PDF Download</a>
            </div>
          </div>

				</div>

			</div>
		</section>
