<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jessica Van Rooyen // Portfolio</title>

    <link rel="favicon" href="favicon.ico">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
      <link href="/bower_components/animate.css/animate.min.css" rel="stylesheet">
      <link href="/bower_components/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
      <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="/bower_components/icomoon-bower/style.css" rel="stylesheet">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
<body>

    <div class="page-loader">
      <div class="loader">Dot Dot Dot...</div>
    </div>
