<section class="module">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="module-title font-alt">Portfolio</h2>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12 col-sm-12">
				<ul id="filters" class="filters cl-effect-1 font-alt">
					<li><a href="#" data-filter="*"class="current">All</a></li>
					<li><a href="#" data-filter=".campaigns">Campaigns</a></li>
					<li><a href="#" data-filter=".imaging">Imaging</a></li>
					<li><a href="#" data-filter=".print">Print</a></li>
					<li><a href="#" data-filter=".web">Web/Interactive</a></li>
          <li><a href="#" data-filter=".photography">Photography</a></li>
          <li><a href="#" data-filter=".motion">Motion</a></li>
				</ul>
			</div>
		</div>

	<div class="items-gridwrap">
			<div id="items-grid" class="items-grid items-hover-w">
						<div class="gridsize"></div>

						<!-- Campaigns -->
						<div class="portfolio-item campaigns web">
							<a href="single-1.html">
								<img src="images/portfolio/campaigns/flm-stnd.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Food Lover's Market</h3>
									<div class="portfolio-category font-alt">
										Campaign, Web/Interactive
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item campaigns web print">
							<a href="single-2.html">
								<img src="images/portfolio/campaigns/coffee.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">I Love Coffee Festival</h3>
									<div class="portfolio-category font-alt">
										Campaign, Print, Web/Interactive
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item campaigns web print">
							<a href="single-3.html">
								<img src="images/portfolio/campaigns/roz-identity.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Roz Murphy Identity</h3>
									<div class="portfolio-category font-alt">
										Campaign, Print, Web/Interactive
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item campaigns web">
							<a href="single-4.html">
								<img src="images/portfolio/campaigns/plk-wide.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Polokwane SPCA</h3>
									<div class="portfolio-category font-alt">
										Campaign, Web/Interactive
									</div>
								</div>
							</a>
						</div>

						<!-- Imaging -->
						<div class="portfolio-item imaging">
							<a href="single-5.html">
								<img src="images/portfolio/imaging/3D-text.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">3D Text</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item imaging">
							<a href="single-6.html">
								<img src="images/portfolio/imaging/lancome.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Lancome Poster Design</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item imaging">
							<a href="single-7.html">
								<img src="images/portfolio/imaging/brochure.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Architecture E-Brochure</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item imaging">
							<a href="single-8.html">
								<img src="images/portfolio/imaging/robot-wide.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">I, Robot</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>

						<div class="portfolio-item imaging">
							<a href="single-9.html">
								<img src="images/portfolio/imaging/arts.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Computer Arts Cover</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>

						<div class="portfolio-item imaging web">
							<a href="single-10.html">
								<img src="images/portfolio/imaging/honest.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Honest Chocolate Ad</h3>
									<div class="portfolio-category font-alt">
										Imaging
									</div>
								</div>
							</a>
						</div>

						<!-- Motion -->
						<div class="portfolio-item motion">
							<a href="portfolio-single-11.html">
								<img src="images/portfolio/motion/docu.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Mini Documentary</h3>
									<div class="portfolio-category font-alt">
										Motion/Video
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item motion">
							<a href="portfolio-single-12.html">
								<img src="images/portfolio/motion/sequence.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Dream Sequence | HUD/GUI</h3>
									<div class="portfolio-category font-alt">
										Motion
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item motion">
							<a href="portfolio-single-13.html">
								<img src="images/portfolio/motion/live.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Dream Sequence - Live</h3>
									<div class="portfolio-category font-alt">
										Motion
									</div>
								</div>
							</a>
						</div>

						<!-- Photography -->
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/splash.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Landscapes</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/sunset.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Landscapes</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/mountains.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Landscapes</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/waterfall.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Landscapes</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/yellowrose.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Nature</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/squiral.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Nature</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div><div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/whiterose.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Nature</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/canvas.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Photography Series</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item photography">
							<a href="portfolio-single-14.html">
								<img src="images/portfolio/photography/outdoor-1.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Outdoor Portrait</h3>
									<div class="portfolio-category font-alt">
										Photography
									</div>
								</div>
							</a>
						</div>


						<!-- Print -->
						<div class="portfolio-item print">
							<a href="portfolio-single-15.html">
								<img src="images/portfolio/print/postertype.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Typography Poster Series</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item print">
							<a href="portfolio-single-16.html">
								<img src="images/portfolio/print/cardset.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Typography Cardset</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item print">
							<a href="portfolio-single-17.html">
								<img src="images/portfolio/print/typebook.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Photography Book</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div><div class="portfolio-item print">
							<a href="portfolio-single-18.html">
								<img src="images/portfolio/print/typeseries.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Web Design History Typeseries</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item print">
							<a href="portfolio-single-19.html">
								<img src="images/portfolio/print/designjournal.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Designer's Process Journal</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item print">
							<a href="portfolio-single-20.html">
								<img src="images/portfolio/print/relaxt.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Relaxt Tea Packaging</h3>
									<div class="portfolio-category font-alt">
										Print
									</div>
								</div>
							</a>
						</div>


						<!-- Web -->
						<div class="portfolio-item web">
							<a href="portfolio-single-20.html">
								<img src="images/portfolio/webinteractive/weather.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Weather App</h3>
									<div class="portfolio-category font-alt">
										Web/Interactive
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item web">
							<a href="portfolio-single-21.html">
								<img src="images/portfolio/webinteractive/color.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">What Is Color</h3>
									<div class="portfolio-category font-alt">
										Web/Interactive
									</div>
								</div>
							</a>
						</div>
						<div class="portfolio-item web">
							<a href="portfolio-single-22.html">
								<img src="images/portfolio/webinteractive/honest_400.jpg" alt="">
								<div class="portfolio-caption font-heading">
									<h3 class="portfolio-title">Honest | Raw Organic Chocolate</h3>
									<div class="portfolio-category font-alt">
										Web/Interactive
									</div>
								</div>
							</a>
						</div>
			</div>
	</div>
</div>
</section>
