<section class="module-single module--pink bg-dark-30">
   <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="banner banner__heading single-page font-heading">{{project}}</h2>
        <p class="banner banner__subheading single-page--sub font-alt">{{category}}</p>
      </div>
    </div>
  </div>
</section>
