<section class="module">
      <div class="container">
        <div class="row">

        <div class="single-row row m-l-m-r m-t-50">
          <div class="col-lg-4 col-sm-4 m-b-40">
                <h5 class="font-project-title m-t-0">{{details}}</h5>
                <p class="font-project-text">Polokwane SPCA website design and development. Wordpress website for the use of the databse. Complete logo and poster designs, and an event booklet coupled with social media accounts to help raise awareness about the events and their goals.</p>
            </div>

            <div class="col-lg-4 col-sm-4">
                <h5 class="font-project-title m-t-0">{{software}}</h5>
                <p class="font-project-text">Illustrator, Photoshop, InDesign, Wordpress, PHP, HTML/CSS, Javascript</p>
            </div>

            <div class="col-lg-4 col-sm-4">
              <h5 class="font-project-title m-t-0">{{links}}</h5>
                      <p class="font-project-links"><a href="https://jessaau.online" target="_blank">Website</a></p>
                      <p class="font-project-links"><a href="https://www.dropbox.com/s/vdy5xoyp4ewxfan/PLKSPCA_casestudy.pdf?dl=0" target="_blank">Case Study</a></p>
                      <p class="font-project-links"><a href="https://www.dropbox.com/s/6hw36u18v497we2/PLKSPCA_Styleguide.pdf?dl=0" target="_blank">Style Guide</a></p>
                </div>
          </div>

          <hr class="single-divider">

        <div id="singleCarousel" class="col-sm-12 carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#singleCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#singleCarousel" data-slide-to="1"></li>
          <li data-target="#singleCarousel" data-slide-to="2"></li>
          <li data-target="#singleCarousel" data-slide-to="3"></li>
          <li data-target="#singleCarousel" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="images/single-portfolio/plk/scene1.jpg" alt="PLKSPCA Scene">
          </div>

          <div class="item">
            <img src="images/single-portfolio/plk/poster1.jpg" alt="PLKSPCA Poster">
          </div>

          <div class="item">
            <img src="images/single-portfolio/plk/mockup.jpg" alt="PLKSPCA Poster">
          </div>

        <div class="item">
          <img src="images/single-portfolio/plk/booklet3.jpg" alt="PLKSPCA Booklet">
        </div>

        <div class="item">
          <img src="images/single-portfolio/plk/booklet2.jpg" alt="PLKSPCA Booklet">
        </div>
    </div>

        <a class="left carousel-control" href="#singleCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#singleCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
</section>
